
@model Profile

    <!-- Hero Section -->
<section id="hero" class="hero section dark-background">

    <img src="~/assets/img/@Model.BackgroundImage" alt="" data-aos="fade-in" class="">

    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <h2>@(Model.Name+" "+Model.Surname) </h2>
        <p>I'm <span class="typed" data-typed-items="@Model.Title">Designer</span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
    </div>

</section><!-- /Hero Section -->